rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to read and update their own profile.
      allow read, update: if request.auth.uid == userId;
      // Allow new users to create their own profile.
      allow create: if request.auth.uid == userId;
    }
    // Allow authenticated users to list users. 
    // This is required for the registration process to check if it's the first user.
    match /users/{document=**} {
        allow list: if request.auth != null;
    }
  }
}
