rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow a user to read their own profile if they are logged in.
      allow read: if request.auth != null && request.auth.uid == userId;
      // Allow a user to create their own profile document during registration.
      allow create: if request.auth != null && request.auth.uid == userId;
    }
  }
}
